.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  background-color:  #d5d5f4;
}

.header {
  font-weight: bold;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.header-title {
  font-size: 1.2rem;
}

.header-title-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.button {
  margin-left: 0.25rem;
}

.MuiTypography-h5 {
  font-size: 1.25rem;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400; */
  line-height: 1;
  /* letter-spacing: 0em; */
}